@import "component/reset.scss";
@import "component/header.scss";
@import "component/footer.scss";

div#container {overflow:hidden;}
ul.items {
	overflow:hidden;
	width:580px;
	height:38px;
	margin: 65px auto 60px;
	font-size:22px;
	li {float:left;color:#575757;}
}

ul#flowerlist {
	width:995px;
	margin:0 auto;
	li {
		float:left;
		margin-right:16px;
		margin-bottom:30px;
		position:relative;
		img {display:block;margin:10px auto 0;}
		button.add-to-cart {
			width:25px;
			height:25px;
			font-size:20px;
			position:absolute;
			top:297px;
			right:10px;
		}
		p.desc {
			width:293px;
			height:72px;
			line-height:65px;
		}
	}
}