<div class="footer_content">
	<div class="footer clearboth">
	    <div class="links clearboth">
	        <a href="javascript:;">常见问题</a>
	        <a href="javascript:;">商务合作</a>
	        <a href="javascript:;">联系我们</a>
	    </div>
	    <div class="copyright">
	        <span>Copyright © Friday(星期五) 版权所有, All Rights Reserved</span>
	        <a href="http://idea-source.net/" target="_blank">www.idea-source.net</a>
	    </div>
	</div>
	<div class="code clearboth">
		<img alt="" src="/images/code.jpg" class="code_img">
	    <div class="text">
	    	<p>享更多产品及活动</p>
	    	<p>请扫描关注或加</p>
	    	<p style="color:#e2609e">【thefridaylife】</p>
	    	<p>官方微信账号</p>
	    </div>
	    <div class="text2" style="padding-top:18px">
	        <a href="iavascript:;"><img src="/images/zaixian.jpg" class="zaixain_img"></a>
	        <p style="font:bold 20px/35px &#39;SimSun&#39;; color:#878787;">咨询电话：400-005-2570</p>
	    </div>
	</div>
	<a href="javascript:void(0)" class="backtop"></a>

</div>	