<nav>
	<a href="/index.html" class="logo">
		<img src="/images/logo.png"/>
	</a>
	<ul class="links">
		<li class="huayi">
			<dl>
				<dt><i class="iconfont icon-hua1" style="color: #f6c2cc;"></i></dt>
				<dd>
					<a href="/html/huayi.html" id="huayi">花艺</a>
					<!-- <ul class="hidden1">
						<li>
							<a href="javascript:;">鲜花</a>
						</li>
						<li>
							<a href="javascript:;">永生花</a>
						</li>
						<li>
							<a href="javascript:;">星座守护</a>
						</li
					</ul> -->
				</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><i class="iconfont icon-hua" style="color: #a3d18b;"></i></dt>
				<dd>
					<a href="/html/huayi.html">个性定制</a>
				</dd>
			</dl>
		</li>
		<li class="yixiangtiankai">
			<dl>
				<dt><i class="iconfont icon-feiji" style="color: #f8c393;"></i></dt>
				<dd>
					<a href="/html/huayi.html">艺想天开</a>
					<!-- <ul class="hidden2">
						<li>
							<a href="javascript:;">艺术</a>
						</li>
						<li>
							<a href="javascript:;">艺物</a>
						</li>
						<li>
							<a href="javascript:;">品牌活动</a>
						</li
					</ul> -->
				</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><i class="iconfont icon-flower" style="color: #9bd5d9;"></i></dt>
				<dd>
					<a href="/html/huayi.html">品牌介绍</a>

				</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt><i class="iconfont icon-hua1" style="color: #8fe6d5;"></i></dt>
				<dd>
					<a href="/html/cart.html">我的花篮</a>

				</dd>
			</dl>
		</li>		
	</ul>		
	<ul class="lo_re">
		<li><a href="/html/login.html">登录</a></li>
		<li><a href="/html/register.html">注册</a></li>
	</ul>
</nav>